{% extends "CLChillPersonBundle::layout.html.twig" %}

{% set activeRouteKey = null %}

{% block personcontent %}

    <h1>Appointment list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Agent</th>
                <th>Date</th>
                <th>Durationtime</th>
                <th>Remark</th>
                <th>Attendee</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('appointment_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.agent }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i') }}{% endif %}</td>
                <td>{{ entity.durationTime|date('H:i') }}</td>
                <td>{{ entity.remark }}</td>
                <td>{{ entity.attendee }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('appointment_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('appointment_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('appointment_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
