{% extends "CLChillPersonBundle::layout.html.twig" %}

{% set activeRouteKey = null %}

{% block personcontent %}

    <h2>{{ 'views.appointment.appointment_list' | trans }}</h2>

    <table class="records_list">
        <thead>
            <tr>
                <th>{{ 'appointment.agent' | trans }}</th>
                <th>{{ 'appointment.date' | trans }}</th>
                <th>{{ 'appointment.durationTime' | trans }}</th>
                <th>{{ 'appointment.remark' | trans }}</th>
                <th>{{ 'appointment.reason' | trans }}</th>
                <th>{{ 'appointment.attendee' | trans }}</th>
                <th>{{ 'views.Common.actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.agent }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i') }}{% endif %}</td>
                <td>{{ entity.durationTime|date('H:i') }}</td>
                <td>{{ entity.remark }}</td>
                <td>{{ entity.reason }}</td>
                <td>{{ entity.attendee }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('appointment_show', { 'id': entity.id }) }}">{{ 'views.Common.show' | trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('appointment_edit', { 'id': entity.id }) }}">{{ 'views.Common.edit' | trans }}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('appointment_new_for_person', { 'id': person.id }) }}">
                {{ 'views.appointment.create_a_new_appointment' | trans }}
            </a>
        </li>
    </ul>
    {% endblock %}
