{% extends "CLChillPersonBundle::layout.html.twig" %}

{% set activeRouteKey = null %}

{% block personcontent %}
    <h1>Appointment</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appointment.id }}</td>
            </tr>
            <tr>
                <th>Agent</th>
                <td>{{ appointment.agent }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ appointment.date|date('Y-m-d H:i') }}</td>
            </tr>
            <tr>
                <th>Durationtime</th>
                <td>{{ appointment.durationTime|date('H:i') }}</td>
            </tr>
            <tr>
                <th>Remark</th>
                <td>{{ appointment.remark }}</td>
            </tr>
            <tr>
                <th>Attendee</th>
                <td>{{ appointment.attendee }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('appointment_list', {'idPerson': person.id }) }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('appointment_edit', { 'id': appointment.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
