{% extends "CLChillPersonBundle::layout.html.twig" %}

{% set activeRouteKey = null %}

{% block personcontent %}
    <h2>Appointment</h2>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{{ 'appointment.agent' | trans }}</th>
                <td>{{ appointment.agent }}</td>
            </tr>
            <tr>
                <th>{{ 'appointment.date' | trans }}</th>
                <td>{{ appointment.date|date('Y-m-d H:i') }}</td>
            </tr>
            <tr>
                <th>{{ 'appointment.durationTime' | trans }}</th>
                <td>{{ appointment.durationTime|date('H:i') }}</td>
            </tr>
            <tr>
                <th>{{ 'appointment.remark' | trans }}</th>
                <td>{{ appointment.remark }}</td>
            </tr>
            <tr>
                <th>{{ 'appointment.attendee' | trans }}</th>
                <td>{{ appointment.attendee }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('appointment_list_for_person', {'id': person.id }) }}">
            {{ 'views.appointment.back_to_the_appointments_list' | trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('appointment_edit', { 'id': appointment.id }) }}">
            {{ 'views.Common.edit' | trans }}
        </a>
    </li>

    {{ form_start(delete_form) }}

    {{ form_rest(delete_form) }}        
            
    <div class="form_control">
        <div class="medium danger btn icon-right entypo icon-user-add">
            <button type="submit">{{ 'views.Common.delete'|trans }}</button>
        </div>
    </div>
    
    {{ form_end(delete_form) }}
</ul>
{% endblock %}
